.idea/
.travis.yml
.phpunit.result.cache
vendor/
wp/
.parcel-cache/
dist/
package.json
yarn-error.log
certs/
bin/create-cert.sh
.phpunit.cache
apache/
qodana.yaml
composer.lock
yarn.lock

# Vite cache
.vite/

# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local
