parameters:
  level: max
  paths:
    - includes/
  exceptions:
    uncheckedExceptionClasses:
      - 'LogicException'
    uncheckedExceptionRegexes:
      - '#^Exception$#'
      - '#^WpPasskeys\\Exceptions\\#'
    checkedExceptionClasses:
      - 'RuntimeException'
    checkedExceptionRegexes:
      - '#^WpPasskeys\\CheckedExceptions\\#'
    check:
      missingCheckedExceptionInThrows: true
      tooWideThrowType: true
    reportUncheckedExceptionDeadCatch: false

