#registerform,
#loginform {
  .passkeys-button {
	background-color: transparent;
	background-image: url('../img/man-key-icon.svg');
	background-position: 5px center;
	background-repeat: no-repeat;
	background-size: 18px;
	border: 2px solid #000;
	color: #000;
	padding-left: 25px;

	&:hover,
	&:active,
	&:focus {
	  border-style: dashed;
	}
  }

  .passkeys-login__wrapper {
	margin: 10px 0 0;
  }

  #display_name {
	width: 100%;
  }

  .passkeys-login {
	&__wrapper {
	  align-items: center;
	  display: flex;
	  gap: 10px;
	  justify-content: flex-end;

	  > .submit {
		float: none;
	  }
	}
  }
}

#login {
  .forgetmenot {
	float: none;
	text-align: right;
  }

  .message.error,
  input.error {
	border-color: #f00;
  }

  input.success {
	border-color: #0f0;
  }
}

#registerform {
  padding: 24px;

  #reg_passmail {
	margin-bottom: 0;
  }
}

#login,
#register {
  width: 430px;
}
